@model CabManagementSystem.WebUI.Models.RouteDetailViewModel

@{
    ViewBag.Title = "Route Details";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Route Details</title>
</head>
<body>
    <table class="table table-bordered table-striped m-auto">
        <thead>
            <tr class="table-dark text-center">
                <th>Route ID</th>
                <th>Employee ID</th>
                <th>Employee Name</th>
                <th>Source Location</th>
                <th>Destination Location</th>
                <th>Batch ID</th>
            </tr>
        </thead>
        <thead>
            @foreach (var p in Model.RouteDetails)
            {
                <tr>
                    @Html.Partial("RouteDetailSummery", p)
                </tr>
                <tr>
                    <td colspan="6" align="right">
                    </td>
                </tr>
            }
        </thead>
    </table>
    <div class="pagination justify-content-center">

    </div>
</body>
</html>
