@model CabManagementSystem.WebUI.Models.VehicleAllocationViewModel

@{
    ViewBag.Title = "Vehicle Allocation Details";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vehicle Allocation</title>
</head>
<body>
    <div style="margin:1cm">
        <button class="btn btn-info" align="center">
            <i class="fa-solid fa-plus"></i>
            @Html.ActionLink("Add New Allocation", "Create", "VehicleAllocation", new { @class = "btn btn-info" })
        </button>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Vehicle Allocation ID</th>
                    <th>Vehicle ID</th>
                    <th>Employee ID</th>
                    <th>Driver ID</th>
                    <th>Pickup/Drop</th>
                    <th>Route ID</th>

                </tr>
            </thead>
            <thead>
                @foreach (var p in Model.VehicleAllocations)
                {
                    <tr>
                        @Html.Partial("VehicleAllocationSummery", p)
                    </tr>
                }
            </thead>
        </table>
        <br />
        <div class="pagination justify-content-center">
            @Html.PageLinks(Model.PagingInfo, x => Url.Action("VehicleAllocationList", new { page = x }))

        </div>
    </div>
</body>
</html>
