

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/homepage.css" rel="stylesheet" />
    
</head>
<body>
    
        <div class="container shadow-lg home-page" align="center">
            <div class="panel">
                <br />
                <img src="https://i.gifer.com/VdgG.gif"
                      alt="logo">
                <p>
                    <h1 font-color="white">
                        <b>The Best Cab Services for you....</b>
                    </h1>
                         
                             <h2><i>
                                 Travel effortlessly at your convenience to work<br />
                             </i></h2>
                         
                        <br />
                        <h3>
                            Let us surprise you....<br />
                            with the best quality services, the best team and the best experience<br />
                        </h3>
                        <h4>
                            We offer you our services with secure travel means, comfortable travel experience, overnight services, eco-friendly, lagest network and affordable prices.
                        </h4>
                </p>
            </div>
        </div>
    
</body>
</html>

