@model CabManagementSystem.WebUI.Models.BatchDetailViewModel

@{
    ViewBag.Title = "Batch Details";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cab Management System</title>
</head>
<body>
    <button class="btn btn-info" align="center">
    <i class="fa-solid fa-plus"></i>
    @Html.ActionLink("Add New Batch", "Create", "BatchDetail", new { @class = "btn btn-info" })</button>
    <br /><br />
    <table class="table table-bordered table-striped m-auto">
        <thead>
            <tr>
                <td colspan="4" align="center">
                    <h2>Batches Available</h2>
                </td>
            </tr>
            <tr class="table-dark text-center">
                <th>Batch ID</th>
                <th>Total Employees In Batch</th>
                <th>Shift ID</th>
                <th style="width: 25%">Actions</th>
            </tr>
        </thead>
        <thead>
            @foreach (var p in Model.BatchDetails)
            {
                <tr>
                    @Html.Partial("BatchDetailSummery", p)
                </tr>
            }
        </thead>
    </table>
    <br />
    <div class="pagination justify-content-center">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("BatchDetailList", new { page = x }))

    </div>
</body>
</html>
