@model CabManagementSystem.WebUI.Models.BatchDetailViewModel

@{
    ViewBag.Title = "Batch Details";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}



@*=================*@


<div class="panel panel-default">
    <div class="panel-body" style="float:none;margin:auto;">
        <button class="btn btn-info" align="center" style="margin:1cm">
            <i class="fa-solid fa-plus"></i>
            @Html.ActionLink("Add New Batch", "Create", "BatchDetail", new { @class = "btn btn-info" })
        </button>
        <table class="table  table-hover w-auto" style="color:white; font-weight:100; font-family:'Times New Roman', Times, serif;margin:1cm;margin-top:0">
            <thead>
                <tr>
                    <td colspan="4" align="center">
                        <h2>Batches Available</h2>
                    </td>
                </tr>
                <tr class="table-dark">
                    <th>Batch ID</th>
                    <th>Total Employees In Batch</th>
                    <th>Shift ID</th>
                    <th style="width: 25%">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model.BatchDetails)

                {
                    @Html.Partial("BatchDetailSummery", p)
                }


                <tr>
                    <td colspan="4" align="center">

                        @Html.PageLinks(Model.PagingInfo, x => Url.Action("BatchDetailList", new { page = x }))
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>
