@model CabManagementSystem.WebUI.Models.BatchDetailViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BatchDetailList</title>
</head>
<body>
    <div class="panel panel-default">
        <button class="fa-solid fa-plus" align="center">@Html.ActionLink("Create New", "Create", "BatchDetail", new { @class = "fa-solid fa-plus" })</button>
        <table class="table table-striped table-condensed table-bordered table-hover  w-auto">
            <thead>
                <tr class="table-dark">
                    <th>Batch ID</th>
                    <th>Total Employees</th>
                    <th>Shift ID</th>
                    <th style="width: 25%">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model.BatchDetails)
                {
                    @Html.Partial("BatchDetailSummery", p)
                }
            </tbody>
        </table>
    </div>
    <div class="btn-group pull-right" align="right">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("BatchDetailList", new { page = x }))

    </div>
</body>
</html>
