<!DOCTYPE html>

<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://icon-sets.iconify.design/bxl/c-plus-plus/" />
    <link href="~/Content/dashboard.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-grid.rtl.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/allcssstyling.css" rel="stylesheet" />
    <script src="~/Scripts/navbar script.js"></script>
    <link href="~/Content/LoginPage.css" rel="stylesheet" />
    <link href="~/Content/Experiment.css" rel="stylesheet" />
    <script src="~/Scripts/Experiment.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>

    <style>
        body {
            margin-bottom: 200px;
        }
        /*===================Table Props==============*/
        table {
            width: 800px;
            border-collapse: collapse;
            overflow: hidden;
            box-shadow: 10px 10px 20px #888888;
            table-layout: fixed;
        }

        tr {
            border: none;
        }

        td:hover {
            color: transparent;
            text-shadow: 0 0 3px #aaa;
            color: #7b71eb;
            text-shadow: 0 1px 0 #fff;
        }

        thead {
            background-color: rgba(255, 255, 255, 0.3)
        }

        .tbl-content {
            height: 300px;
            overflow-x: auto;
            margin-top: 0px;
            border: 1px solid rgba(255, 255, 255, 0.3);
        }

        th {
            padding: 20px 15px;
            text-align: center;
            font-weight: 500;
            font-size: 15px;
            color: #fff;
            text-transform: uppercase;
        }

        td {
            /* padding: 15px;*/
            /* vertical-align: middle;*/
            /*font-weight: 300;*/
            /*font-size: 18px;*/
            text-align: center;
            color: #fff;
            /* border-bottom: solid 1px rgba(255, 255, 255, 0.1);*/
        }

        .input-validation-error {
            background: aqua;
            border: 10px solid white;
        }

        /*============================================*/
        d1 {
            align-items: center
        }
        /*======================================*/

        footer {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>



    <div class="sidebar close">
        <div class="logo-details">

            
                <i class="bx bxl-c-plus-plus"></i>
            <span class="logo_name">Cab Management</span>

        </div>
        <ul class="nav-links">

            <li>
                <div class="iocn-link">
                    <a href="~/Dashboard/UserDashboard">
                        <i class='bx bx-grid-alt'></i>
                        <span class="link_name">Dashboard</span>
                    </a>
                </div>
            </li>

            @*Employee*@

            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class='fas fa-user'></i>
                        <span class="link_name">Employees</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Employees</a></li>
                    <li><a href="~/Employee/List">View List</a></li>
                    <li><a href="~/Employee/Create">Add Employee</a></li>
                </ul>
            </li>

            @*Shift*@

            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class='fas fa-clock'></i>
                        <span class="link_name">Shifts</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Shifts</a></li>
                    <li><a href="~/ShiftTiming/ShiftTimingList">View</a></li>
                    <li><a href="~/ShiftTiming/Create">Add New Shift</a></li>
                    <li><a href="~/ShiftDetail/ShiftDetailsByID">Search Shift by ID</a></li>
                </ul>
            </li>

            @*Batche*@

            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class='fas fa-users'></i>
                        <span class="link_name">Batches</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Batches</a></li>
                    <li><a href="~/BatchDetail/BatchDetailList">View Batches</a></li>
                    <li><a href="~/BatchDetail/Create">Add New Batch</a></li>
                </ul>
            </li>

            @*Route*@

            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class='fas fa-route'></i>
                        <span class="link_name">Routes</span>
                    </a><i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Routes</a></li>
                    <li><a href="~/RouteDetail/RouteDetailList">View Routes</a></li>
                    <li><a href="~/RouteDetail/Create">Add New Route</a></li>
                    <li><a href="~/RouteDetail/RouteDetailsById">Search Route by ID</a></li>
                </ul>
            </li>

            @*Vehicle Details*@

            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class='fa fa-cab'></i>
                        <span class="link_name">Vehicles</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Vehicles</a></li>
                    <li><a href="~/VehicleDetail/VehicleDetailList">View Vehicles</a></li>
                    <li><a href="~/VehicleDetail/Create">Add New Vehicle</a></li>
                </ul>
            </li>

            @*Vehicle Allocation Details*@

            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class="fa-solid fa-car-side"></i>
                        <span class="link_name">Vehicle Allocation</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Vehicle Allocation</a></li>
                    <li><a href="~/VehicleAllocation/VehicleAllocationList">View Vehicle Allocation</a></li>
                    <li><a href="~/VehicleAllocation/Create">Add New Allocation</a></li>
                </ul>
            </li>


            @*Trip Sheet Details*@

            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class="fa-solid fa-map-location-dot"></i>
                        <span class="link_name">Trip Sheet</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Trip Sheet</a></li>
                    <li><a href="~/TripSheet/TripSheet">View Sheet</a></li>
                    <li><a href="~/TripSheet/Create">Create New Sheet</a></li>
                </ul>
            </li>

            @*Vehicle Bill*@

            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class="fa-solid fa-money-bills"></i>
                        <span class="link_name">Vehicle Bill</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Vehicle Bill</a></li>
                    <li><a href="~/VehicleBill/VehicleBillList">View Bills</a></li>
                    <li><a href="~/VehicleBill/Create">Create New Bill</a></li>
                </ul>
            </li>


            <li>
                <a href="#">
                    <i class='bx bx-compass'></i>
                    <span class="link_name">Explore</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Explore</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-history'></i>
                    <span class="link_name">History</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">History</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-cog'></i>
                    <span class="link_name">Setting</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Setting</a></li>
                </ul>
            </li>
            <li>
                <div class="profile-details">
                    <div class="profile-content">
                        <!--<img src="image/profile.jpg" alt="profileImg">-->
                    </div>
                    <div class="name-job">
                        <div class="profile_name">@Html.ActionLink("Logout", "Logout", "Dashboard")</div>
                        <div class="job">@Session["UserName"]</div>
                    </div>
                    <i class='bx bx-log-out'></i>
                </div>
            </li>
        </ul>
    </div>
    
    <section class="home-section">
        <div>
            <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2a6668">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Cab Management System</a>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto text-end">
                            <li>
                                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;
                                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;
                            </li>
                            <li class="nav-item dropdown">
                                <a class="navbar-brand dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                                    <i class="bx bx-user-circle"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">Profile</a></li>
                                    <li><a class="dropdown-item" href="#">Change Password</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="~/Dashboard/Logout">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="home-content">
            <i class='bx bx-menu'></i>
            <span class="text">Welcome @Session["UserName"]</span>

        </div>
        <div class="container" style="margin:0.5px">
            @RenderBody();
        </div>
    </section>

    <footer class="footer-section col-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:20%">
        <div class="container">
            <div class="footer-cta pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="cta-text">
                                <h4>Find us</h4>
                                <span>
                                    <b>
                                        Pune
                                        Zensar Technologies Ltd (Corporate Headquarters)
                                    </b>
                                    Plot #4, MIDC, Off Nagar Road, Zensar
                                    Knowledge Park, Kharadi, Pune 411
                                    014,Maharashtra, India.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-phone"></i>
                            <div class="cta-text">
                                <h4>Call us</h4>
                                <span>
                                    <b>Phone:</b>
                                    020-66074000,
                                    020-66057500<br />
                                    <b>Fax:</b>
                                    +91-20-66074444
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="far fa-envelope-open"></i>
                            <div class="cta-text">
                                <h4>Mail us</h4>
                                <span>mail@info.com</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-content pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 mb-50">
                        <div class="footer-widget">
                            <div class="logo-details">
                                <span class="logo_name" style="color:white; font-size:130%">Cab Management</span><br />
                            </div>
                            <div class="footer-text">
                                <p>
                                    Experience best-in-class corporate transportation services
                                    with Office Ride Enterprise. Our cab service provides a safe
                                    & reliable solution to transport employees to and from work.
                                    We help your employees get to work comfortably and seamlessly.
                                </p>
                            </div>
                            <div class="footer-social-icon">
                                <span>Follow us</span>
                                <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                                <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                                <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Useful Links</h3>
                            </div>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">about</a></li>
                                <li><a href="#">services</a></li>
                                <li><a href="#">portfolio</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Our Services</a></li>
                                <li><a href="#">Expert Team</a></li>
                                <li><a href="#">Contact us</a></li>
                                <li><a href="#">Latest News</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Subscribe</h3>
                            </div>
                            <div class="footer-text mb-25">
                                <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                            </div>
                            <div class="subscribe-form">
                                <form action="#">
                                    <input type="text" placeholder="Email Address">
                                    <button><i class="fab fa-telegram-plane"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                        <div class="copyright-text">
                            <p>© 2003-2022 Zensar Technologies Ltd. CIN:L72200PN1963PLC012621. All rights reserved</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                        <div class="footer-menu">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Terms</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Policy</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script>
        let arrow = document.querySelectorAll(".arrow");
        for (var i = 0; i < arrow.length; i++) {
            arrow[i].addEventListener("click", (e) => {
                let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
                arrowParent.classList.toggle("showMenu");
            });
        }
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bx-menu");
        console.log(sidebarBtn);
        sidebarBtn.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        });

    </script>

    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.bundle.js"></script>

</body>
</html>
