<!DOCTYPE html>

<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/dashboard.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-grid.rtl.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/allcssstyling.css" rel="stylesheet" />
    <script src="~/Scripts/navbar script.js"></script>
    <link href="~/Content/LoginPage.css" rel="stylesheet" />
    <link href="~/Content/Experiment.css" rel="stylesheet" />
    <script src="~/Scripts/Experiment.js"></script>

    <style>
        body {
            margin: 50px;
            margin-bottom: 200px;
        }

        table {
            width: 800px;
            border-collapse: collapse;
            overflow: hidden;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }
        .input-validation-error {
            background: aqua;
            border: 10px solid white;
        }
        d1 {
            align-items: center
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
 

    <div class="sidebar close">
        <div class="logo-details">
            <i class="fa-solid fa-c"></i>
            <span class="logo_name">Cab Management</span>
        </div>
        <ul class="nav-links">

            <li>
                <div class="iocn-link">
                    <a href="~/Dashboard/UserDashboard">
                        <i class='bx bx-grid-alt'></i>
                        <span class="link_name">Dashboard</span>
                    </a>
                </div>
            </li>

            @*Employee*@

            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class='fas fa-user'></i>
                        <span class="link_name">Employees</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Employees</a></li>
                    <li><a href="~/Employee/List">View List</a></li>
                    <li><a href="~/Employee/Create">Add Employee</a></li>
                </ul>
            </li>

            @*Shift*@

            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class='fas fa-clock'></i>
                        <span class="link_name">Shifts</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Shifts</a></li>
                    <li><a href="~/ShiftTiming/ShiftTimingList">View</a></li>
                    <li><a href="~/ShiftTiming/Create">Add New Shift</a></li>
                    <li><a href="~/ShiftDetail/ShiftDetailsByID">Search Shift by ID</a></li>
                </ul>
            </li>

            @*Batche*@

            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class='fas fa-users'></i>
                        <span class="link_name">Batches</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Batches</a></li>
                    <li><a href="~/BatchDetail/BatchDetailList">View Batches</a></li>
                    <li><a href="~/BatchDetail/Create">Add New Batch</a></li>
                </ul>
            </li>

            @*Route*@

            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class='fas fa-route'></i>
                        <span class="link_name">Routes</span>
                    </a><i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Routes</a></li>
                    <li><a href="~/RouteDetail/RouteDetailList">View Routes</a></li>
                    <li><a href="~/RouteDetail/Create">Add New Route</a></li>
                    <li><a href="~/RouteDetail/RouteDetailsById">Search Route by ID</a></li>
                </ul>
            </li>

            @*Vehicle Details*@

            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class='fa fa-cab'></i>
                        <span class="link_name">Vehicles</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Vehicles</a></li>
                    <li><a href="~/VehicleDetail/VehicleDetailList">View Vehicles</a></li>
                    <li><a href="~/VehicleDetail/Create">Add New Vehicle</a></li>
                </ul>
            </li>

            @*Vehicle Allocation Details*@

            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class="fa-solid fa-car-side"></i>
                        <span class="link_name">Vehicle Allocation</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Vehicle Allocation</a></li>
                    <li><a href="~/VehicleAllocation/VehicleAllocationList">View Vehicle Allocation</a></li>
                    <li><a href="~/VehicleAllocation/Create">Add New Allocation</a></li>
                </ul>
            </li>


            @*Trip Sheet Details*@

            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class="fa-solid fa-map-location-dot"></i>
                        <span class="link_name">Trip Sheet</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Trip Sheet</a></li>
                    <li><a href="~/TripSheet/TripSheet">View Sheet</a></li>
                    <li><a href="~/TripSheet/Create">Create New Sheet</a></li>
                </ul>
            </li>

            @*Vehicle Bill*@

            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class="fa-solid fa-money-bills"></i>
                        <span class="link_name">Vehicle Bill</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Vehicle Bill</a></li>
                    <li><a href="~/VehicleBill/VehicleBillList">View Bills</a></li>
                    <li><a href="~/VehicleBill/Create">Create New Bill</a></li>
                </ul>
            </li>


            <li>
                <a href="#">
                    <i class='bx bx-compass'></i>
                    <span class="link_name">Explore</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Explore</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-history'></i>
                    <span class="link_name">History</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">History</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-cog'></i>
                    <span class="link_name">Setting</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Setting</a></li>
                </ul>
            </li>
            <li>
                <div class="profile-details">
                    <div class="profile-content">
                        <!--<img src="image/profile.jpg" alt="profileImg">-->
                    </div>
                    <div class="name-job">
                        <div class="profile_name">@Html.ActionLink("Logout", "Logout", "Dashboard")</div>
                        <div class="job">@Session["UserName"]</div>
                    </div>
                    <i class='bx bx-log-out'></i>
                </div>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu'></i>
            <span class="text">Welcome @Session["UserName"]</span>

        </div>
        <div class="container" style="margin:0.5px">
            @RenderBody();
        </div>
    </section>
    <script>
        let arrow = document.querySelectorAll(".arrow");
        for (var i = 0; i < arrow.length; i++) {
            arrow[i].addEventListener("click", (e) => {
                let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
                arrowParent.classList.toggle("showMenu");
            });
        }
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bx-menu");
        console.log(sidebarBtn);
        sidebarBtn.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        });
    </script>

    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.bundle.js"></script>

</body>
</html>
