@model CabManagementSystem.WebUI.Models.VehicleDetailListViewModel

@{
    ViewBag.Title = "Vehicle Details";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cab Management System</title>
</head>
<body>
    <div style="margin:1cm">
        <button class="btn btn-info" align="center">
            <i class="fa-solid fa-plus"></i>
            @Html.ActionLink("Add New Vehicle", "Create", "VehicleDetail", new { @class = "btn btn-info" })
        </button>
        <br />
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Vehicle ID</th>
                    <th>Vehicle Name</th>
                    <th>Vender ID</th>
                    <th>Driver ID</th>
                    <th>Vehicle Type</th>
                    <th>Vehicle Number</th>
                    <th>Rate Per KM</th>
                    <th>Capacity</th>
                    <th>Route ID</th>
                    <th style="width: 25%">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model.VehicleDetails)
                {
                    @Html.Partial("VehicleDetailSummery", p)
                }
            </tbody>
        </table>

        <br />
        <div class="pagination justify-content-center">
            @Html.PageLinks(Model.PagingInfo, x => Url.Action("VehicleDetailList", new { page = x }))
        </div>
    </div>
</body>
</html>
