@model CabManagementSystem.WebUI.Models.VehicleDetailListViewModel


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VehicleDetailList</title>
</head>
<body>
    <div>
        <button class="fa-solid fa-plus" align="center">@Html.ActionLink("Add New Vehicle", "Create", "VehicleDetail", new { @class = "fa-solid fa-plus" })</button>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Vehicle ID</th>
                    <th>Vehicle Name</th>
                    <th>Vender ID</th>
                    <th>Driver ID</th>
                    <th>Vehicle Type</th>
                    <th>Vehicle Number</th>
                    <th>Rate Per KM</th>
                    <th>Capacity</th>
                    <th>Route ID</th>
                    <th style="width: 25%">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model.VehicleDetails)
                {
                    @Html.Partial("VehicleDetailSummery", p)
                }
            </tbody>
        </table>
    </div>
    <div class="btn-group pull-right" align="right">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("VehicleDetailList", new { page = x }))

    </div>
</body>
</html>
