@model CabManagementSystem.WebUI.Models.ShiftTimingListViewModel

@{
    ViewBag.Title = "Shifts";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Cab Management System</title>
    </head>
    <body>
        <div style="margin:1cm">
            <button class="btn btn-info" align="center">
                <i class="fa-solid fa-plus"></i>
                @Html.ActionLink("Add New Shift", "Create", "ShiftTiming", new { @class = "btn btn-info" })
            </button><br /><br /><br />
            <table class="table table-bordered table-striped m-auto">
                <thead>
                    <tr class="table-dark text-center">
                        <th>Shift ID</th>
                        <th>Shift Name</th>
                        <th>Shift Start Time</th>
                        <th>Shift End Time</th>
                        <th>Total Batches</th>
                        <th style="width: 25%">Actions</th>
                    </tr>
                </thead>
                <thead>
                    @foreach (var p in Model.ShiftTimings)
                    {
                        <tr>
                            @Html.Partial("ShiftTimingSummery", p)
                        </tr>
                    }
                </thead>
            </table>
            <br />
            <div class="pagination justify-content-center">
                @Html.PageLinks(Model.PagingInfo, x => Url.Action("ShiftTimingList", new { page = x }))

            </div>
        </div> 
    </body>
</html>
