@model CabManagementSystem.WebUI.Models.ShiftTimingListViewModel

@{
    ViewBag.Title = "Shifts";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}



@*===========================*@


<div class="panel panel-default">
    <div class="panel-body" style="float:none;margin:auto;">
        <button class="btn btn-info" align="center" style="margin:1cm">
            <i class="fa-solid fa-plus"></i>
            @Html.ActionLink("Add New Shift", "Create", "ShiftTiming", new { @class = "btn btn-info" })
        </button>
        <table class="table  table-hover w-auto" style="color:white; font-weight:100; font-family:'Times New Roman', Times, serif;margin:1cm;margin-top:0">
            <thead>
                <tr>
                    <td colspan="7" align="center">
                        <h2>Shifts Available</h2>
                    </td>
                </tr>
                <tr class="table-dark">
                    <th>Shift ID</th>
                    <th>Shift Name</th>
                    <th>Shift Start Time</th>
                    <th>Shift End Time</th>
                    <th>Total Batches</th>
                    <th style="width: 25%">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model.ShiftTimings)

                {
                    @Html.Partial("ShiftTimingSummery", p)
                }


                <tr>
                    <td colspan="7" align="center">

                        @Html.PageLinks(Model.PagingInfo, x => Url.Action("ShiftTimingList", new { page = x }))
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>
