@model CabManagementSystem.WebUI.Models.TripListViewModel

@{
    ViewBag.Title = "Trips";
}

<div class="panel panel-default">
    <div class="panel-body">
        <button class="fa-solid fa-plus" align="center">@Html.ActionLink("Add New Trip", "Create", "Trip", new { @class = "fa-solid fa-plus" })</button>
        <table class="table table-striped table-condensed table-bordered table-hover  w-auto">
            <thead>
                <tr class="table-dark">
                    <th>Trip Id</th>
                    <th>Vehicle Allocation Id</th>
                    <th>Vehicle Id</th>
                    <th>Rate per KM</th>
                    <th>Distance Travelled in km</th>
                    <th>Total Amount</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var t in Model.TripSheet)

                {
                    @Html.Partial("TripSummary", t)
                }

            </tbody>

        </table>
    </div>
    <div class="pagination justify-content-center">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
    </div>
</div>